<form action="/login" method="POST">
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    <div class="input-wrapper">
        <input name="UserName" placeholder="username"></input>
    </div>
    <div class="input-wrapper">
        <input name="Password" placeholder="password"></input>
    </div>
    <div class="error">errors</div>
    <button type="submit">login</button>
</form>
        
